@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-madds-pink: #FFE7ED;
  --color-madds-maroon: #64011A;
  --color-madds-lightblut: #85CDEA;
}

/* html, */
/* body { */
/*   @apply bg-white dark:bg-gray-950; */
/**/
/*   @media (prefers-color-scheme: dark) { */
/*     color-scheme: dark; */
/*   } */
/* } */
